# ----------------------------------------------------------------
# Application Data
# ----------------------------------------------------------------
APP_NAME=Stuf
APP_IDENTIFIER=stuf

# ----------------------------------------------------------------
# Database
# ----------------------------------------------------------------
DATABASE_URL=postgresql://stuf:stuf@localhost:5432/stuf