# ----------------------------------------------------------------
# Application Common
# ----------------------------------------------------------------
APP_NAME=Stuf
APP_IDENTIFIER=stuf

# ----------------------------------------------------------------
# API
# ----------------------------------------------------------------

API_HOST=localhost
API_PORT=5172

# ----------------------------------------------------------------
# APP
# ----------------------------------------------------------------

APP_HOST=localhost
APP_PORT=5173

# ----------------------------------------------------------------
# LND
# ----------------------------------------------------------------

LND_HOST=localhost
LND_PORT=5174

# ----------------------------------------------------------------
# Database
# ----------------------------------------------------------------
DATABASE_URL=postgresql://stuf:stuf@localhost:5432/stuf